@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Playwrite+AU+SA:wght@100..400&family=Playwrite+IN:wght@100..400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add to your global CSS or the Signup page styles */
.signup-wrapper {
    position: relative;
    z-index: 1;
    /* Ensure it's above the particles */
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    /* Light background for the form */
    border-radius: 10px;
}
body{
font-family: "Noto Sans", serif;
}